.container {
  &-billing-code {
    .table {
      min-width: 1500px;

      a {
        font-size: 16px;
      }
    }
  }
  &-training-process {
    .table {
      min-width: 1200px;

      a {
        font-size: 16px;
      }
    }
  }
  &-release-training {
    .table {
      min-width: 1200px;

      a {
        font-size: 16px;
      }
    }

    .card-participants-label {
      background-color: #f2f2f2;
      border-radius: 4px;

      .label-release-training {
        border-radius: 25px;
      }

      .bg-disabled {
        background-color: #707070;
      }

      .btn {
        padding: 0;
        color: #ffc107;

        .fa {
          font-size: 20px;
        }
      }
    }
  }
  &-manage-training-list {
    .table {
      // min-width: 300px;

      &-container {
        max-height: 50vh;
      }

      a {
        font-size: 16px;
      }
    }

    .col-md-6 {
      .card {
        height: 80vh;
      }
    }
  }
  &-manage-training-process {
    .table {
      min-width: 1200px;

      a {
        font-size: 16px;
      }
    }
  }
}
