.container {
  &-onboarding {
    .table {
      min-width: 1300px;
    }
  }
  &-grouping {
    .table {
      min-width: 900px;

      a {
        font-size: 16px;
      }
    }
  }
  &-splash-screen {
    .table {
      min-width: 1200px;
    }
  }
  &-announcement {
    .table {
      min-width: 1300px;
    }
  }
  &-guide {
    .table {
      min-width: 1300px;
    }
  }
}