body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container-tam {
  background-color: #f2f2f2;
  max-height: 90vh;
  overflow-y: scroll;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: white;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #1673b1;
}

/* Styling Font Hierarchy */
p,
b,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  line-height: 26px;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 14px;
}

a,
p,
b {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

a {
  color: #0085ca;
}

b {
  font-weight: bold;
}

.text {
  &-primary {
    color: #0085ca !important;
  }
}

.bg {
  &-primary {
    background-color: #0085ca !important;
  }
}

/* Styling Button */
button {
  &:focus {
    border-color: transparent !important;
    box-shadow: none !important;
  }
}

.btn {
  color: #fff;
  padding: 7px 20px;

  &:hover {
    cursor: pointer;
  }

  &-primary {
    background-color: #0085ca;
    border-color: #0085ca;
  }

  &-success {
    background-color: #60d408;
    border-color: #60d408;
  }

  &-outline {
    &-danger {
      color: #dc3545;

      &:hover {
        color: #fff;
      }
    }
    &-info {
      color: #0dcaf0;

      &:hover {
        color: #fff;
      }
    }
  }
}

/* Styling Dropdown Button */
.btn-dropdown-tam {
  color: #000000;
  border: 1px solid #bcc2c7;
}

/* Alert Styling */
.alert {
  position: fixed;
  top: 5%;
  z-index: 1;
  justify-content: center;

  &-success {
    background: rgba(39, 174, 86, 1);
    color: #fff;
    font-weight: 600;
  }

  &-danger {
    background: rgba(226, 41, 53, 1);
    color: #fff;
    font-weight: 600;
  }
}

/* Styling Card */
.card {
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.04), -2px -2px 6px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}

/* Styling Input Field */
label {
  color: #152536;
  font-size: 14px;
  line-height: 16px;
}

.label {
  color: #152536;
  font-size: 14px;
  line-height: 16px;

  &-divider {
    font-size: 10px;
    letter-spacing: 3px !important;
    font-weight: 600;
  }
}

input,
.form-select {
  display: block;
  width: 100%;
  padding: 7px 20px !important;
  color: #000000;
  background-clip: padding-box;
  appearance: none;
  outline: none;

  &.form-check-input {
    padding: 0 !important;
  }

  &.form-control {
    padding: 7px 12px !important;
  }
}

.form-select {
  padding: 7px 12px !important;
}

.form-select.show-entries {
  display: inline;
  border: 1px solid #bcc2c7;
}

.form-check {
  margin-bottom: 0;
}

textarea {
  border: 1px solid #ced4da;
  display: block;
  width: 100%;
  padding: 7px 12px !important;
  font-size: 16px;
  border-radius: 4px;
  color: #000000;
  background-clip: padding-box;
  line-height: 25px;
  appearance: none;
  outline: none;
}

/* Styling Table */
.table-container {
  overflow-x: auto;
}

thead {
  background-color: #0085ca;
  color: #ffffff;
}

// th, td, thead, tr {
//   border-color: #D8D8DF !important;
// }

/* Pagination Styling */
.Pagination {
  .Page-active {
    color: #ffffff !important;
  }
}

/* Datepicker Styling */
.v3dp__datepicker {
  input {
    border: 1px solid #ced4da;
    padding: 7px 12px !important;
    appearance: none;
    outline: none;
    border-radius: 4px;
  }
}

/* Nav Tabs Styling */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-top: 5px solid #0085ca;
  color: #0085ca;
}

.nav-tabs .nav-link {
  border: none;
  color: #000000;
  border-top: 5px solid #f2f2f2;

  &:hover {
    border-top: 5px solid #0085ca;
    color: #0085ca;
    background-color: #fff;
  }
}
