.container {
  &-complaint {
    .table {
      min-width: 1500px;

      a {
        font-size: 16px;
      }
    }
  }
  &-category {
    .table {
      min-width: 900px;

      a {
        font-size: 16px;
      }
    }
  }
  &-assign-category {
    .table {
      min-width: 1200px;

      a {
        font-size: 16px;
      }
    }
  }
}